* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* start of header/nav styles */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline; 
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 22px; 
    padding: 0 8px 3px 8px;
}
header nav ul li a:hover {
    color:coral;
    font-weight: bold;
    border-bottom: 3px solid coral;
}

/* start of footer styles */
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    line-height: 1.5;
}
footer h2 {
    font-weight: bold;
    font-size: 16px;
}
footer p {
    font-size: 14px;
}

/* all sections style */
section {
    padding: 60px;
}

/* start of hero/jumbotron section styles */
.hero {
    background-image: url("../images/jumbotron.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0;
}
.sub-header {
    background-color: black;
    color: white;
    margin: 3.5%;
    padding: 1.5%;
    display:flex;
    align-items: center;
}

/* section styles */
.section {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.section-title {
    font-size: 35px;
    text-align: right;
    padding-right: 20px;
    flex: 25%;
    border-right: 3px solid black;
}

/* start of about section */
.about-content {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}

/* start of work section */
.work-content {
    padding-left: 20px;
    flex: 75%;
    display:flex;
    flex-wrap: wrap;
}
.card {
    flex: 1 0 0; 
    margin: 0 10px 10px 10px;
    border: 2px solid black;
}
.card:hover {
    border: 5px solid coral;
}
.card:first-child {
    flex-basis: 100%;
}
.card img {
    width: 100%;
    min-width: 300px;
}
.card h3 {
    background-color: black;
    color: white;
}

/* start of skills section */
.skills-content {
    padding-left: 40px;
    flex: 75%;
    line-height: 1.5;
}

/* start of contact section */
.contact-content {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}
.contact-content address {
    font-style: normal;
}
.contact-content address a {
    text-decoration: none;
    color: black;
}
.contact-content address a:hover {
    color: coral;
    font-weight: bold;
    border-bottom: 3px solid coral;
}

/* Start of Media Queries */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}