* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* start of header/nav styles */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline; 
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 22px; 
    border-bottom: 1px solid white;
    padding: 0 8px 3px 8px;
}

/* start of footer styles */
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    line-height: 1.5;
}
footer h2 {
    font-weight: bold;
    font-size: 16px;
}
footer p {
    font-size: 14px;
}

/* all sections style */
section {
    padding: 60px;
}

/* start of hero/jumbotron section styles */
.hero {
    background-image: url("../images/jumbotron.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0;
}
.sub-header {
    background-color: black;
    color: white;
    margin: 3.5%;
    padding: 1.5%;
    display:flex;
    align-items: center;
}

/* start of about me section */
.section {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.section-title {
    font-size: 35px;
    text-align: right;
    padding-right: 20px;
    flex: 25%;
    border-right: 3px solid black;
}
.about-content {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}

/* start of work section */
.work-content {
    padding-left: 20px;
    flex: 75%;
    display:flex;
    flex-wrap: wrap;
}
.work-content div {
    flex: 1 0 0; 
    margin: 0 5px 5px 5px;
}
.work-content img {
    width: 100%;
    min-width: 300px;
}

/* start of contact section */
.contact-content {
    padding-left: 20px;
    flex: 75%;
    line-height: 1.5;
}
.contact-content address {
    font-style: normal;
}
